body {
  font-family:"Lucida Console", Courier, monospace;
  text-align: center;
  background-image: url('/background/pinkslog.gif');
  background-size: unset;
  background-color: rgba(142, 222, 233, 0.986);
}

h1 {
  font-size: 4em;
}

.container {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background: rgba(142, 222, 233, 0.527);
}

.faces {
  text-align: center;
}

