body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

h1 {
  font-size: 4em;
}

.container {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background: red;
}

.faces {
  text-align: center;
}

