body {
  border-width: thick;
  border-color: rgba(221, 151, 228, 0.493);
  border-style: double;
  font-family:"Lucida Console", Courier, monospace,;
  text-decoration: line underline;
  text-decoration: line-through;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(221, 151, 228, 0.493);
  color: rgba(168, 243, 28, 0.493);
  text-align: center;
  background-image: url('/background/pinkslog.gif');
  background-size: unset;
  background-color: rgba(142, 222, 233, 0.986);
}

h1 {
  font-size: 4em;
}

.container {
  border-style: double;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background: rgba(142, 222, 233, 0.527);
}

.faces {
  text-align: center;
}

.faces img {
  max-width: 100%;
  max-height: 100%;
}
